.single-product-page {
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    height: 482px;
}

.single-product-page img {
    width: 300px;
}

.back-btn {
    margin-left: 200px;
}

.back-btn a {
    color: black;
    opacity: 0.9;
    display: inline;
    text-decoration: none;
    border: 1px solid grey;
    padding: 10px;
}